.App {
  font-family: sans-serif;
  text-align: center;
}
.board {
  margin: auto;
  display: grid;
  justify-content: stretch;
  width: 450px;
  height: 400px;
}
.drop-button {
  background-color: black;
}

.cell {
  width: 100%;
}

.LoginSignup {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LoginSignup > * {
  margin-bottom: 10px;
}

.LoginSignup input[type="text"],
.LoginSignup input[type="password"] {
width: 200px;
}

.LoginSignup .Username,
.LoginSignup .Password {
font-weight: bold;
}

.LoginSignup .Login,
.LoginSignup .Signup {
padding: 5px 10px;
background-color: #4caf50;
color: white;
border: none;
border-radius: 3px;
cursor: pointer;
}

.LoginSignup .Login:hover,
.LoginSignup .Signup:hover {
background-color: #45a049;
}

.LoginSignup2 {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.LoginSignup2 > * {
  margin-bottom: 10px;
}

.LoginSignup2 input[type="text"],
.LoginSignup2 input[type="password"] {
width: 200px;
}

.LoginSignup2 .Username,
.LoginSignup2 .Password {
font-weight: bold;
}

.LoginSignup2 .Login,
.LoginSignup2 .Signup {
padding: 5px 10px;
background-color: #4caf50;
color: white;
border: none;
border-radius: 3px;
cursor: pointer;
}

.LoginSignup2 .Login:hover,
.LoginSignup2 .Signup:hover {
background-color: #45a049;
}

